@tailwind base;
@tailwind components;
@tailwind utilities;

.own-message {
  @apply my-5 bg-transparent p-5 relative rounded-lg w-48 bg-white left-[270px];

}
.own-message:after {
  @apply absolute top-[calc(100%-5px)] left-[150px] -rotate-12;
  content: '';
  border-top: 25px solid rgb(255, 255, 255);
  border-left: 20px solid transparent;
  border-right: 2px solid transparent;
}

.others-message{
  @apply my-5 bg-transparent p-5 relative rounded-lg w-48 bg-green-300 left-4 ;

}
.others-message:after {
  @apply absolute top-[calc(100%-5px)] left-[14px] rotate-12;
  content: '';
  border-top: 25px solid rgb(134,239,172);
  border-left: 2px solid transparent;
  border-right: 20px solid transparent;
}